{% extends "site/base.html" %}
{% load static %}
{% load thumbnail %}
{% block body %}
    <div id="mvp-article-wrap" style="transform: none;">
        <div id="mvp-article-cont" class="left relative" style="transform: none;">
            <div class="mvp-main-box" style="transform: none;">
                <div id="mvp-post-main" class="left relative" style="transform: none;">
                    <div class="mvp-post-main-out left relative" style="transform: none;">
                        <div class="mvp-post-main-in">
                            <div id="mvp-post-content" class="left relative">
                                <div class="mvp-widget-home-head">
                                    <h4 class="mvp-widget-home-title"><span
                                            class="mvp-widget-home-title">Takımımızla Tanışın</span></h4>
                                </div><!--mvp-widget-home-head-->
                                <div class="mvp-authors-wrap left relative">
                                    {% for user in user %}
                                        <section class="mvp-authors-list-wrap left relative">
                                            <div class="mvp-authors-list-img left relative">
                                                {% thumbnail user.profile.image "150x150" crop="center" as im %}
                                                    <img width="{{ im.width }}" height="{{ im.height }}"
                                                         src="{{ im.url }}"
                                                         class="avatar avatar-150 photo" height="150" width="150" alt="{{ user.username  }}"
                                                         srcset="{{ im.url }}">
                                                {% endthumbnail %}
                                                <img alt=""
                                                     src="{{ user.profile.image }}"
                                                     class="avatar avatar-150 photo" height="150" width="150"></div>
                                            <!--mvp-authors-list-img-->
                                            <span class="mvp-authors-name"><a
                                                    href="{% url 'author_detail' user.username %}">{{ user.username }}</a></span>
                                            <h2 class="mvp-authors-latest"><a  href="{% url 'author_detail' user.username %}"
                                                    rel="bookmark">{{ user.profile.bio }}</a></h2>
                                        </section><!--mvp-authors-page-list-wrap-->
                                    {% endfor %}
                                </div><!--mvp-authors-wrap-->
                            </div><!--mvp-post-content-->
                        </div><!--mvp-post-main-in-->
                        <div id="mvp-side-wrap" class="left relative theiaStickySidebar"
                             style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                            <div class="theiaStickySidebar"
                                 style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; left: 191.538px; top: 0px;">
                                <section id="mvp_ad_widget-8" class="mvp-side-widget mvp_ad_widget">
                                    <div class="mvp-widget-ad left relative">
                                        <span class="mvp-ad-label">Advertisement</span>
                                        <img src="../wp-content/uploads/2017/07/zox300.png"></div><!--mvp-widget-ad-->
                                </section>
                                <div class="resize-sensor"
                                     style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                                    <div class="resize-sensor-expand"
                                         style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                        <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 330px; height: 582px;"></div>
                                    </div>
                                    <div class="resize-sensor-shrink"
                                         style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                        <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--mvp-side-wrap-->                    </div><!--mvp-post-main-out-->
                </div><!--mvp-post-main-->
            </div><!--mvp-main-box-->
        </div><!--mvp-article-cont-->
    </div>
    <br><br><br>
{% endblock %}