{% extends "site/base.html" %}
{% load thumbnail %}
{% load menu %}
{% block body %}
    <div id="mvp-article-wrap">
        <div id="mvp-article-cont" class="left relative">
            <div class="mvp-main-box">
                <section id="mvp-404">
                    <h1>Error 404!</h1>
                    <p>İstediğiniz sayfa mevcut değil veya taşındı.</p>
                </section><!--mvp-404-->
            </div><!--mvp-main-box-->
        </div><!--mvp-article-cont-->
    </div>
{% endblock %}